@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --dark-black:#0D0E12;
    --light-black: #15181E;
    --light-grey:rgba(227, 229, 232, 0.52);
    --white:rgba(227,229,232,0.9);
    --gradient:linear-gradient(90deg, #6557FF 0%, #AA3FFF 29.43%, #AA3FFF 68.23%, #F8522E 100%);

}
body{
    background: var(--dark-black);
}
header{
    background-color: var(--dark-black);
    .nav{
        a{
            color: var(--light-grey);
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: var(--white);
            }
        }
    }
}
.landing{
    background: var(--dark-black);
    .overlay{
        background: url('../Assets/Landing.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    b{
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h1{
        color: var(--white);
    }
    p{
        color: var(--light-grey);
    }
    button{
        background:var(--white);
        color: var(--dark-black);
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
        border:none;
    }
}